@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "NanumSquare";
}

.content {
  position: absolute;
  top: 100px;
  left: 200px;
  margin: 0 auto;
  width: 250px;
  height: 400px;
  background-color: rgb(250, 250, 250);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 5px rgb(189, 189, 189);
}

.content .section_top {
  width: 100%;
  background-color: rgba(73, 73, 73, 0.4);
  color: white;
  border-radius: 4px 4px 0 0;
}

.content .section_top .top_info {
  margin: 30px 0 0 30px;
}

.content .section_top .task_info {
  margin: 10px 0 20px 30px;
  font-size: 13px;
}

.content .section_middle {
}

.content .section_middle input {
  position: relative;
  top: 10px;
  left: -25px;
  border: none;
  outline: 0.8px solid rgb(170, 170, 170);
  border-radius: 2px;
  width: 150px;
  height: 20px;
  padding: 5px;
  font-size: 12px;
}

.content .section_middle input:focus {
  outline: 1px solid rgb(85, 110, 236);
}

.content .section_middle input::placeholder {
  font-size: 12px;
  color: #c8c8c8;
}

.content .section_middle span {
  display: block;
  position: relative;
  top: -10px;
  right: -140px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: rgb(137, 137, 148);
  border-radius: 2px;
  transition: 1s;
}

.content .section_middle span:hover {
  background-color: rgb(85, 110, 236);
}

.content .msg {
  display: none;
  width: 130px;
  font-size: 12px;
  color: rgb(241, 242, 245);
  text-align: center;
  padding: 2px 5px 5px 5px;
  background-color: rgb(152, 151, 226);
  border-radius: 2px;
}

.content .msg > span {
  position: relative;
  top: 4px;
  font-size: 16px;
  margin: 0 2px 0 0;
}

.content .section_bottom {
}

.content .section_bottom ul.todo_list {
  font-size: 12px;
  list-style: none;
  margin: 20px 0 0 0;
}

.content .section_bottom ul.todo_list > li.item {
  position: relative;
  display: flex;
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: #dfe0e6;
  border-radius: 2px;
  margin: 10px 0 0 0;
  overflow: hidden;
}

.content .section_bottom ul.todo_list > li.item > i.check_item {
  margin: 4px 7px 0 3px;
  font-size: 13px;
  color: rgb(71, 71, 75);
}

.content .section_bottom ul.todo_list > li.item > p.item__text {
  position: relative;
  top: 5px;
  font-size: 11px;
  font-weight: 700;
}

.content .section_bottom ul.todo_list > li.item > .delete_btn {
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background-color: rgb(108, 128, 224);
}

/* .content .section_bottom ul.todo_list > li.item > .delete_btn:hover .delete_btn{
  display: block;
} */

.content .section_bottom ul.todo_list > li.item > .delete_btn > .delete_icon {
  color: rgb(227, 225, 231);
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 0 7px;
}

/* css 추가 : 메뉴 추가, 체크박스, overline*/
.content .section_bottom ul.todo_list > li.item > span.check_item:focus p {
  color: red;
}
